* {
  box-sizing: border-box;
}
body {
  background-color:antiquewhite;
  margin: 0;
  padding: 0;
}
.navidad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.caja1 {
  width: 33.3%;
  height: 100%;
}
.incono {
  height: 100px;
  margin-left: 40%;
  margin-right: 40%;
  
 }
.caja2 {
  background-color: #bc741c;
  color: black;
  width: 33.3%;
  height: 108px;
}
.caja3 {
  width: 33.3%;
  height: 108px;
}
.caja4 {
  background-color: #bc3c4c;
  padding: 2rem;
  width: 100%;
  height: 300px;
}
.logo {
  height: 250px;
  margin-left: 35%;
  margin-right: 35%;
  
}
.caja5 {
  background-color: black;
  color: white;
  padding: 2rem;
  width: 25%;
  height: 300px;
}

.caja6 {
  background-color: #242c34;
  color: white;
  padding: 2rem;
  width: 25%;
  height: 300px;
  right: 100px;
}
.caja7 {
  background-color: #6c0c3c;
  color: white;
  padding: 2rem;
  width: 25%;
  height: 300px;
}
.caja8 {
  background-color: darkgreen;
  color: white;
  padding: 2rem;
  width: 25%;
  height: 300px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.caja9 {
    background-color: red;
    padding: 20px;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    
}
.caja10{
background-color:#00873E; 
padding: 20px;
width: 260px;
height: 260px;
border-radius: 100%;
}
.caja11{
    background-color: #DAA520;
    padding: 20px;
    width: 260px;
    height: 260px;
    border-radius: 100%;
}
.caja12{
    background-color:	#8a9597;
    padding: 20px;
    width: 260px;
    height: 260px;
    border-radius: 100%;
}
.caja13{
    background-color:	#4169E1 ;
    padding: 20px;
    width: 260px;
    height: 260px;
    border-radius: 100%;
}
.boton1{
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    background-color: red;
    color: red;
} 
.boton2{
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  background-color: #bc741c;
  color: #bc741c;
}
.boton3{
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  background-color: #bc741c;
  color: #bc741c;
}